.card {

	&__container {
		height: 286px;
		background-color: #fff;
		border-radius: 20px;
		display: grid;
		grid-template-columns: 347px 142px 179px 176px 64px;
		grid-template-rows: 74px 73px min-content;

		align-items: flex-start;
	}

	&__photo {
		grid-row: 1/4;
		grid-column: 1/2;
		height: 286px;
	}

	&__name {
		margin-top: 45px;
		grid-row: 1/2;
		grid-column: 2/3;

		font-size: 30px;
		font-weight: 700;
		color: var(--text-color);
		white-space: nowrap;
		position: relative;
	}

	&__is-active {
		left: -18px;
		top: 16px;
		position: absolute;
	}

	&__tags {
		margin-top: 20px;
		grid-row: 2/3;
		grid-column: 2/3;

		font-size: 20px;
		color: black;
		width: 252px;
	}

	&__preferences {
		display: none;
	}

	&__preferences-mobile {
		display: none;
	}

	&__preferences-mobile-transport-level {
		display: none;
	}

	&__countries {
		margin-top: 45px;
		grid-column: 4/5;
		grid-row: 1/3;
	}

	&__country {
		margin-top: 13px;

		font-size: 20px;
		font-weight: 600;
		color: var(--text-color);
		display: flex;
		align-items: center;
		gap: 18px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__countries-icon {
		width: 34px;
		height: 24px;

		&:before {  
			content: "";
			display: block;
			margin-bottom: 30px;
		}
	}

	&__button {
		margin-top: 45px;
		display: block;
		grid-row: 3/4;
		grid-column: 2/3;

		font-size: 20px;
		font-weight: 700;
		color: #161C35;
		width: 142px;
		height: 50px;
		background-color: var(--accent);
		border-radius: 25px;
	}

	&__likes {
		margin-top: 45px;
		grid-row: 3/4;
		grid-column: 3/4;

		font-size: 20px;
		color: #161C35;
		font-weight: 700;
		display: flex;
		align-items: center;
	}

	&__like {
		background-color: #F9EAEA;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-right: 7px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__transport {
		margin-top: 54px;
		grid-row: 3/4;
		grid-column: 4/5;
		display: flex;
		gap: 14px;

		div {
			background: transparent;
		}
	}

	&__level {
		display: flex;
		justify-content: flex-end;
		margin-top: 36px;
		grid-row: 3/4;
		grid-column: 5/6;
		position: relative;

		div {
			position: absolute;
			top: 10%;
			left: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__level-number {
		border-bottom: rgba(0,0,0,.4) 1px solid;
		font-weight: 700;
		font-size: 24px;
		color: var(--text-color);
	}

	&__level-text {
		font-weight: 500;
		font-size: 14px;
		color: rgba(0,0,0,.4)
	}
}

@media (max-width: 1360px) {
	.card {

		&__container {
			grid-template-columns: 223px 146px 197px 64px;
			grid-template-rows: min-content;
			width: 688px;
			height: 332px;
			padding: 35px 25px 25px 35px;
		}

		&__photo {
			width: 190px;
			height: 190px;
			grid-row: 1/5;
			border-radius: 20px;
		}

		&__name {
			margin-top: 0;
		}

		&__is-active {
			left: 240px;
		}

		&__preferences {
			display: flex;
			grid-row: 5/6;
			grid-column: 1/5;
			color: #EDEFF6;

			p {
				color: #444444;
				line-height: 2;
			}
		}

		&__countries {
			margin-top: 32px;
			grid-column: 1/5;
			grid-row: 5/6;
			display: flex;
		}

		&__country {
			margin-top: 0;
			margin-left: 25px;

			&:first-child {
				margin-left: 0;
			}
		}

		&__button {
			margin-top: 0;
			grid-row: 4/5;
		}

		&__likes {
			margin-top: 0;
			grid-row: 4/5;
		}

		&__transport {
			margin-top: 0;
			grid-row: 1/4;
			display: flex;
			flex-direction: column;
		}

		&__transport-icon {
			margin-left: 20px;
		}

		&__level {
			margin-top: 0;
			grid-row: 4/5;
			grid-column: 4/5;
		}
	}
}

@media (max-width: 730px) {
	.card {
		display: flex;
		justify-content: center;

		&__container {
			grid-template-columns: 86px 95px 53px;
			width: 270px;
			height: 416px;
			padding: 15px 20px 23px 18px;
		}

		&__photo {
			width: 70px;
			height: 70px;
			grid-row: 1/3;
			border-radius: 50%;
		}

		&__name {
			white-space: normal;
			font-size: 20px;
			line-height: 1;
			width: 50px;
		}

		&__is-active {
			left: 130px;
			top: 6px;
		}

		&__preferences {
			display: none;
		}

		&__tags {
			margin-top: 13px;
			grid-row: 3/4;
			grid-column: 1/3;

			font-size: 15px;
			width: 176px;
		}

		&__preferences-mobile {
			grid-column: 1/4;
			grid-row: 4/5;
			display: flex;
			color: #EDEFF6;

			p {
				color: #444444;
				line-height: 2;
			}
		}

		&__preferences-mobile-transport-level {
			grid-column: 1/4;
			grid-row: 5/6;
			display: flex;
			color: #EDEFF6;

			p {
				color: #444444;
				line-height: 2;
			}
		}

		&__countries {
			margin-top: 36px;
			grid-column: 1/4;
			grid-row: 4/5;

			font-size: 15px;
			flex-direction: column;
			gap: 10px;
		}

		&__country {
			margin-left: 0;

			font-size: 15px;
		}

		&__countries-icon {
			width: 26px;
			height: 18px;
		}

		&__button {
			margin-top: 14px;
			grid-row: 6/7;
			grid-column: 1/4;
			width: 230px;
			height: 40px;
		}

		&__likes {
			margin-left: 50px;
			grid-column: 1/3;
			grid-row: 2/3;
			font-size: 14px;
		}

		&__like {
			width: 30px;
			height: 30px;

			img {
				width: 12px;
				height: 12px;
			}
		}

		&__transport {
			margin-top: 38px;
			grid-row: 5/6;
			grid-column: 1/3;

			flex-direction: row;
			gap: 0;

			div {
				background-color: #EDEFF6;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&__transport-icon {
			border-radius: 50%;
			margin-left: 0;
			margin-bottom: 0;
			width: 14px;
			height: 16px;

			&:first-child {
				margin-left: 0;
			}
		}

		&__level {
			grid-row: 5/6;
			grid-column: 3/4;
			width: 45px;
			height: 45px;
			margin-top: 32px;

			div {
				top: 14%;
				left: 23%;
			}
		}

		&__level-number {
			border-bottom: none;
		}

		&__level-text {
			display: none;
		}
	}
}
