.filter {
	background-color: var(--accent);
	border-radius: 20px;
	width: 285px;
	height: 814px;

	grid-column: 2/3;

	&__container {
		padding: 46px 42px 48px 49px;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		cursor: default;
	}

	&__form {
		padding-top: 34px;
	}

	&__button {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 23px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: color .2s ease-in;

		&:hover {
			color: #0B1C49;
		}

		span {
			display: none;
		}
	}

	&__icon {

		&_deployed {
			transform: rotate(180deg);
		}
	}

	&__inputs {
		display: none;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 32px;

		&_open {
			display: flex;
		}

		label {
			font-size: 20px;
			font-weight: 400;
			color: #000000;
			transition: color .2s linear;

			&:hover {
				color: var(--text-color);
			}
		}

		input {
			width: 24px;
			height: 24px;
			vertical-align: middle;

			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;

			cursor: pointer;
			background-color: white;
			border-radius: 4px;

			&::before {
				content: '\2714';
				font-size: 16px;
				line-height: 1;
				color: #161C35;
				position: relative;
				left: 6px;
				bottom: 3px;
				visibility: hidden;
			}

			&:checked::before {
				visibility: visible;
			}
		}
	}

	&__inputs-transport {
		display: none;
		margin-bottom: 68px;

		&_open {
			display: flex;
		}
		
		label {
			position: relative;
			padding-left: 45px;
			cursor: pointer;
		}

		input {
			opacity: 0;
			position: absolute;
			width: 44px;
			height: 44px;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 44px;
			height: 44px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-color: #FFFFFF;
			border-radius: 50%;
			transition: background-color .2s linear;

			&:hover {
				background-color: #E2E5F2;
			}
		}
	}

	&__checkbox-icon-plane {
		background-image: url('./../img/icons/icon_plane.svg');
	}

	&__checkbox-icon-bus {
		background-image: url('./../img/icons/icon_bus.svg');
	}

	&__checkbox-icon-bicycle {
		background-image: url('./../img/icons/icon_bicycle.svg');
	}

	&__checkbox-icon-run {
		background-image: url('./../img/icons/icon_run.svg');
	}

	&__range {
		display: none;
		margin-bottom: 38px;

		&_open {
			display: block;
		}

		input {
			width: 100%;
			cursor: pointer;
			height: 4px;
		}
	}

	&__range-values {
		cursor: default;
		width: 100%;
		height: 46px;
		background-color: #FFFFFF;
		border-radius: 4px;
		border: 1px solid #CBCED9;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 31px;

		span {
			font-size: 20px;
			font-weight: 500;

			&:nth-child(2) {
				margin: 0 20px;
			}
		}
	}

	&__search {

		button {
			font-size: 20px;
			color: #161C35;
			font-weight: 700;
			background-color: #FFFFFF;
			border-radius: 25px;
			width: 100%;
			height: 50px;
			transition: box-shadow .2s ease-in;

			&:hover {
				box-shadow: 1px 3px 6px #DDAE09;
			}
		}
	}
}

.filter__custom-checkbox input:checked + .filter__checkbox-icon-plane {
	background-image: url('./../img/icons/icon_plane-fill.svg');
}

.filter__custom-checkbox input:checked + .filter__checkbox-icon-bus {
	background-image: url('./../img/icons/icon_bus-fill.svg');
}

.filter__custom-checkbox input:checked + .filter__checkbox-icon-bicycle {
	background-image: url('./../img/icons/icon_bicycle-fill.svg');
}

.filter__custom-checkbox input:checked + .filter__checkbox-icon-run {
	background-image: url('./../img/icons/icon_run-fill.svg');
}

@media (max-width: 1360px) {
   .filter {
		width: 688px;
		height: 550px;

		&__container {
			padding: 37px 36px 37px 35px;
		}

		&__title {
			margin-bottom: 38px;
		}
	
		&__form {
			border-top: 1px solid #F3C72B;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__button {
			margin-bottom: 0;
			width: auto;

			span {
				display: inline;
			}
		}

		&__icon {
			display: none;
		}
	
		&__inputs {
			display: flex;
			flex-direction: row;
			width: 491px;
			margin-bottom: 26px;
	
			label {
				width: 155px;
				display: flex;
			}

			input {
				margin-right: 12px;
			}
		}

		&__inputs-transport {
			display: flex;
			width: 491px;
			margin-bottom: 60px;
		}

		&__range {
			display: flex;
			flex-direction: row-reverse;
			width: 491px;
			justify-content: space-between;
			align-items: center;

			input {
				width: 281px;
			}
		}

		&__range-values {
			margin-bottom: 0;
			width: 148px;
		}

		&__search {
			padding-top: 36px;
			border-top: 1px solid #F3C72B;
		}
   }

	#transport {
		margin-top: 7px;
	}

	#range-button {
		margin-top: 7px;
	}
}

@media (max-width: 730px) {
	.filter {
		width: 270px;
		height: 624px;

		&__container {
			padding: 26px 20px 22px 20px;
		}

		&__title {
			width: 145px;
			margin-bottom: 23px;
			font-size: 22px;
		}
	
		&__form {
			padding-top: 0;
			border-top: none;
		}

		&__item {
			padding-top: 12px;
			border-top: 1px solid #F3C72B;
			display: block;
		}

		&__button {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 16px;
			width: 100%;

			span {
				display: none;
			}
		}

		&__icon {
			display: inline;
		}
	
		&__inputs {
			display: none;
			flex-direction: column;
			gap: 12px;
			width: 100%;
			margin-bottom: 21px;

			&_open {
				display: flex;
			}
	
			label {
				font-size: 15px;
			}

			input {
				width: 18px;
				height: 18px;

				&::before {
					font-size: 13px;
					left: 4px;
					bottom: 1px;
				}
	
				&:checked::before {
					visibility: visible;
				}
			}
		}

		&__inputs-transport {
			display: none;
			width: 100%;
			margin-bottom: 50px;

			&_open {
				display: flex;
			}

			label {
				padding-left: 33px;
			}

			span {
				width: 32px;
				height: 32px;
			}
		}

		&__range {
			display: none;
			width: 100%;
			margin-bottom: 21px;

			&_open {
				display: block;
			}

			input {
				width: 100%;
			}
		}

		&__range-values {
			margin-bottom: 21px;
			width: 100%;
			height: 35px;

			span {
				font-size: 14px;

				&:nth-child(2) {
					margin: 0 35px;
				}
			}
		}

		&__search {
			padding-top: 0;
			border-top: none;
		}
	}

	#transport {
		margin-top: 0;
	}

	#range-button {
		margin-top: 0;
	}
}