.pagination {
	background-color: #FFFFFF;
	margin-top: 71px;
	border-radius: 20px;
	height: 100px;
	padding: 25px 40px 25px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__page-numbers {
		font-size: 20px;
		font-weight: 700;
		
		a {
			color: var(--text-color);
			padding: 12px 19px 12px 18px;
			opacity: 1;
			transition: opacity .3s ease-in;

			&:hover:not(.active) {
            opacity: .8;
			}
	
			&:nth-child(1) {
				background-color: var(--accent);
				border-radius: 50%;
			}
		}
	}

	&__buttons {

		a {
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__icon {
		opacity: 1;

		&:hover {
			opacity: .8;
		}
	}
}

@media (max-width: 1360px) {
   .pagination {
		padding: 25px 35px 25px 28px;
		margin-top: 51px;
	}
}

@media (max-width: 730px) {
	.pagination {
		padding: 17px 63px 14px;
		margin-top: 26px;
		height: 51px;

		&__page-numbers {
			display: none;
		}

		&__buttons {
			width: 100%;
			display: flex;
			justify-content: space-between;

			a {
				margin-left: 0;
			}
		}
	}
}
